<div id="nav-bar">
    <div id="nav-bar-top">
        <div id="nav-bar-hamburger-container">
            <img id="nav-bar-hamburger-image" src="hamburger.png" alt="navigation arrow"/>
            <button id="nav-bar-button" (click)="openCloseNav()"></button>
        </div>
        <div id="nav-bar-top-heading-container">
            <p id="nav-bar-top-heading-text">Unity In Bible Reading</p>
        </div>
    </div>
    <!-- This is needed because the nav bar has an absolute position. This nav bar space prevents other elements from being positioned underneath it. -->
    <div id="nav-bar-space"></div>
    <button *ngIf="isSideNavOpen === 'true'" id="nav-bar-clickable-background" (click)="openCloseNav()"></button>
    <div id="nav-bar-side" [ngStyle]="{
        'transform': (isSideNavOpen === 'true' ? 'translate(0%)' : 'translate(-100%)'),
        'transition-duration':(isLoaded === false ? '0ms' : '600ms')
        }">
        <div id="nav-bar-side-background"></div>
        <a class="nav-bar-link" [routerLink]="'/introduction'"><p class="nav-h1 nav-bar-text">Introduction</p></a>
        <a class="nav-bar-link" [routerLink]="'/introduction'" fragment="why-unity-in-bible-reading"><p class="nav-h2 nav-bar-text">Why Unity In Bible Reading?</p></a>
        <a class="nav-bar-link" [routerLink]="'/introduction'" fragment="how-it-was-made"><p class="nav-h2 nav-bar-text">How It Was Made</p></a>
        <a class="nav-bar-link" [routerLink]="'/introduction'" fragment="why-canonical-order"><p class="nav-h2 nav-bar-text">Why Canonical Order?</p></a>
        <a class="nav-bar-link" [routerLink]="'/introduction'" fragment="encouragement-for-first-time-readers"><p class="nav-h2 nav-bar-text">Encouragement for First Time Readers</p></a>
        <a class="nav-bar-link" [routerLink]="'/todays-reading'"><p class="nav-h1 nav-bar-text">Today's Reading</p></a>
        <a class="nav-bar-link" [routerLink]="'/todays-reading'" fragment="reading-plan"><p class="nav-h2 nav-bar-text">Reading Plan</p></a>
        <a class="nav-bar-link" [routerLink]="'/reading-planner'"><p class="nav-h1 nav-bar-text">Reading Planner</p></a>
        <a id="source-code" href="https://github.com/Jeff-Enriquez/unity-in-bible-reading" target="_blank">source code<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h560v-280h80v280q0 33-23.5 56.5T760-120H200Zm188-212-56-56 372-372H560v-80h280v280h-80v-144L388-332Z"/></svg></a>
    </div>
    
</div>